

/* переменные css */

:root {
  --button-hover-color: #2196f3;
  --title-nav-filter-color: #212121;
  --text-link-color: #757575;
  --dark-bg-color: #2f303a;
  --bg-team-portfolio-icon-filter-color: #f5f4fa;
  --hover-focus-color: #ffffff;
  --title-footer-color: #ffffff;
  --bg-hero-title: #c4c4c4;
  --bg-body-color:  #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--bg-body-color);
  color: var(--title-nav-filter-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Глобальні стилі для секцій, контейнеру, заголовків та тексту секцій */
.section {
  padding-bottom: 94px;
  }
  
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-nav-filter-color);
  }
  
  .section-text {
  line-height: 1.71;
  color: var(--text-link-color)
  }
  /* Глобальні стилі для секцій, контейнеру, заголовків та тексту секцій */

/* styles header */
header {
  border-bottom: 1px solid #ececec;
}

.container.header {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.logo {
  display: inline-block;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-text-one {
  color: var(--button-hover-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-text-two {
  color: #000000;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.logo-text-two:hover,
.logo-text-two:focus {
  color: var(--button-hover-color);
}

.nav-items {
  display: flex;
  list-style: none;
  align-content: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-items .link {
  display: block;
  color: var(--title-nav-filter-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-items .link:hover,
.nav-items .link:focus {
  color: var(--button-hover-color);
}

.nav-items .link.current {
  color: var(--button-hover-color);
}

.auth-nav {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}

.auth-icon {
  display: inline-flex;
  align-items: center;
}

.auth-item-icon {
  margin-right: 10px;
}

.auth-nav .contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #757575;
}

.auth-nav .contact:hover,
.auth-nav .contact:focus {
  color: var(--button-hover-color);
  fill: var(--button-hover-color);
}

/* section hero*/
.hero {
  background-color: var(--bg-hero-title);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: 
  linear-gradient(
    to right, 
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)  
    ), url(../images/bg-img-hero.jpg);
    background-position: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 696px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;  
  padding-top: 200px;
}

.hero-button {
  display: block;
  background-color: var(--button-hover-color);
  color: #ffffff;
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.hero .hero-button:hover,
.hero .button:focus {
  background-color: #188ce8;
  color: var(--hover-focus-color);
}

/* section about */

.about {
  padding-top: 94px;
}

.about-title {
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.about-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  list-style: none;
}

.about-item {
  width: 270px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.about-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-team-portfolio-icon-filter-color);
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.about-item-icon {
  display: block;
  width: 70px;
  height: 70px;
}


/* section work */

.work-title {
  margin-bottom: 50px;
  text-align: center;
}

.work-items {
  display: flex;
  list-style: none;
  margin-top: -30px; 
  margin-left: -30px;
}

.work-item {
  margin-top: 30px; 
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/* sectiom team */

.team {
  background-color: var(--bg-team-portfolio-icon-filter-color);
  padding-top: 94px;
} 

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  list-style: none;
  margin-top: -30px; 
  margin-left: -30px;
}

.team-item {
  background-color: #ffffff;
  text-align: center;
  margin-top: 30px; 
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-subtext  {
  margin-top: 30px;
}

.team-collaborator {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.18;
  padding-bottom: 30px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  list-style: none;
}

.team-social-item {
  width: 44px;
  height: 44px;
  background-color: transparent;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-link-icon {
  display: inline-flex;
 justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  fill: #afb1b8;

}


.team-link-icon:hover,
.team-link-icon:focus {
  background-color: var(--button-hover-color);
  fill: #ffffff;
}

/* section clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  list-style: none;

}

.clients-item {
  width: 170px;
  height: 90px;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 180px) / 6);
}

.company-1 {
  width: 47.27px;
  height: 49.23px;
}
.company-2 {
  width: 40px;
  height: 52px;
}
.company-3 {
  width: 41px;
  height: 42.6px;
}
.company-4 {
  width: 40px;
  height: 52px;
}
.company-5 {
  width: 59px;
  height: 47px;
}
.company-6 {
  width: 88.48px;
  height: 45.44px;
}

.clients-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-link-icon:hover,
.clients-link-icon:focus {
  fill: var(--button-hover-color);
  border-color: var(--button-hover-color);
}

/* sectiom footer */

.footer {
  background-color: var(--dark-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-box-info {
  margin-right: 70px;
}

.footer-logo {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 20px;
}

.footer .logo-text-two {
  color: var(--title-footer-color);
}

.footer .logo-text-two:hover,
.footer .logo-text-two:focus {
  color: var(--button-hover-color);
}

.address-list {
  display: inline-block;
  list-style: none;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}


.footer .contact-link.map {
  color: var(--title-footer-color);
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}

.footer .contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.7;
  text-decoration: none;
}

.footer .contact-link:hover,
.footer .contact-link:focus {
  color: var(--button-hover-color);
}

.footer-title {
  font-size: 14px;
  color: var(--title-footer-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  list-style: none;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}


.footer-link-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
}


.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: var(--button-hover-color);
}

/* Page portfolio */

/*  filter-menu */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.portfolio {
  padding-top: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
  text-align: center;
  
}

.filter-button {
  background-color: var(--bg-team-portfolio-icon-filter-color);
  color: var(--title-nav-filter-color);
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button-hover-color);
  color: var(--hover-focus-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

/* project */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: -30px; 
  margin-left: -30px;
}

.projects-item {
  margin-top: 30px; 
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.projects-item:hover,
.projects-item:focus {
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link {
  text-decoration: none;
}

.aside {
  padding: 20px 24px;
  border: 1px solid #eeeeee;

} 

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
 
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
}
